<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhang.zc.dao.UserMapper">


    <select id="query4login" resultType="user">
        select * from user where userAccount=#{userAccount} and password=#{password}
    </select>


    <!--分页查询-->
    <select id="pageQuery" resultType="user">
        select * from user
        <where>
            <if test="username!=null and username != ''">
                and username like '%' #{username} '%'
            </if>
        </where>
        order by id desc
    </select>

    <insert id="insert">
        insert into user(userAccount,password,username,email) values (#{userAccount},#{password},#{username},#{email})
    </insert>

    <select id="selectOne" resultType="user">
        select * from user where id=#{userId}
    </select>

    <select id="toCheckAccount" resultType="Integer">
        select count(*) from user where userAccount=#{userAccount}
    </select>

    <update id="editUser">
        update  user set userAccount=#{userAccount},username=#{username},password=#{password},email=#{email}
        where id=#{id}
    </update>

    <delete id="deleteByOne">
        delete from user where id=#{id}
    </delete>
</mapper>